@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

:root {
    --color-light: #eeeeee;
    --color-dark: #393e46;
    --color-1: #aad8d3;
    --color-2: #00adb5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background-image: url("https://i.imgur.com/2xViFJE.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #202020;
}

#top {
    width: 100vw;
    padding: 1rem 1.3rem;
    color: aliceblue;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: fixed;
    top: 0;
}

#top h1 {
    font-size: 2rem;
    text-shadow: #393e46;
    justify-content: flex-start;
}

#filters {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-bottom: 3rem;
    filter: opacity(85%)
}

#filters button{
    background-color: var(--color-dark);
    border: none;
    color: aliceblue;
    padding: .3rem;
    font-size: .9rem;
    border-radius: 0.7rem;
    outline: none;
    transition: transform .3s;
}

#filters button:hover {
    filter: brightness(1.1);
    transform: scale(1.09);
}

#todo-list {
    padding: 1rem 1.3rem;
    color: aliceblue;
    display: grid;
    grid-row: inherit;
    justify-content: center;
    margin-top: 70px;
}

#todo-list .status {
    background-color: var(--color-dark);
    text-align: center;
    margin: 15vh;
    border-radius: 0.7rem;
    filter: opacity(80%);
    padding: 4rem;
}

#todo-list img {
    width: 8rem;
}

#todo-list h2 {
    font-size: 2rem;
}

#todo-list input {
    margin: 2rem;
}

#bot  {
    width: 100vw;
    padding: 1.3rem 8.3% 1rem 8.3%;
    color: aliceblue;
    display: flexbox;
    flex-direction: column;
    position: fixed; 
    bottom: 0; 
    overflow-x: hidden; 
}

form {
    display: flex;
    flex-wrap: nowrap;
}

#bot input {
    width: 80vw;
    color: aliceblue;
    background-color: var(--color-dark);
    filter: opacity(85%);
    border: none;
    outline: none;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    font-size: 1.3rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

#bot button {
    width: 4%;
    outline: none;
    background: var(--color-dark);
    filter: opacity(85%);
    color: gray;
    font-weight: bold;
    font-size: 1.3rem;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    border: none;
}